<!DOCTYPE html>

	<!-- Annonce la langue du document -->
	<html lang="fr">
        <head>
            <% include ./../models/Partiel/head %>
        </head>
        <body>
            <% include ./../models/Partiel/navbar %>

            <section class="engine">
            </section>
            <section class="services5 cid-rqAcxjsmG7" id="services5-d">

                <!---->
    
                <!---->
                <!--Overlay-->
                
                <!--Container-->
                <div class="container">
                    <div class="row">
                        <!--Titles-->
                        <div class="title col-12">
                            <h2 class="align-left mbr-fonts-style m-0 display-1">
                                Evenement
                            </h2>
                            
                        </div>
                        <% if(event.length > 0) {%>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6  form-group" data-for="ville">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">
                                            Sélectionner une Ville
                                        </label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <% for(var i=0; i<ville.length; i++) {%>
                                                <option>
                                                    <%= ville[i].nomVille %>
                                                </option>
                                            <%} %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6  form-group" data-for="sport">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">
                                            Sélectionner un Sport
                                        </label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <% for(var i=0; i<sport.length; i++) {%>
                                                <option>
                                                    <%= sport[i].nomS %>
                                                </option>
                                            <%} %>
                                        </select>
                                    </div>
                                </div>  
                            </div>
                        </div>  
                        <% for(var i=0; i<event.length; i++) { %>
                        <!--Card-i-->
                        <div class="card px-3 col-12">
                            <div class="card-wrapper media-container-row media-container-row">
                                <div class="card-box">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            <%= event[i].nomEvent %>
                                        </h4>
                                        <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                            <%= event[i].dateEvent %>
                                        </p>
                                    </div>
                                    <div class="bottom-line">
                                    <p class="mbr-text mbr-fonts-style display-7">
                                            <%= event[i].descEvent %>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% } else { %>
                        <p>
                            Nous avons pas trouvés d'événement correspondant à votre recherche
                        </p>
                        <% } %>
                    </div>
                    </section>

            <% include ./../models/Partiel/footer %>


            <script src="assets/web/assets/jquery/jquery.min.js"></script>
            <script src="assets/popper/popper.min.js"></script>
            <script src="assets/tether/tether.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/smoothscroll/smooth-scroll.js"></script>
            <script src="assets/dropdown/js/script.min.js"></script>
            <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
            <script src="assets/theme/js/script.js"></script>
        </body>
	</html>